<!DOCTYPE html>

<html lang="en">
  <head>
    {% load static %}

    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/ico" href="{% static 'todo/favicon.ico' %}">

  </head>

  {% block content %}
  <body >


<a href="/all/">

<div id="main-box" style="
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 25%;
  border: 3px solid black;
  padding: 10px;
  color: blue;
  font-size: 20px;
">
 
  Andrew's TODO-List

</div>

</a>

  </body>
  {% endblock %}

</html>
