<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">

    <meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class="login vsc-initialized" data-admin-utc-offset="-25200" data-gr-c-s-loaded="true">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/">Sign up</a></h1>
        </div>
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content" class="colM">

        <div id="content-main">

            {% block content %}

            <form action="/" method="post" id="login-form">
                {% csrf_token %}
                {% for field in form %}

              <div class="form-row">

                {{ field.label_tag }}
                {{ field }}

                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
              </div>

              <p>
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>


                {% endfor %}
              <div class="submit-row">
                <label>&nbsp;</label><input type="submit" value="Log in">
              </div>
            </form>
            {% endblock %}


        </div>

        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>