<!DOCTYPE html>

<html lang="en">
  <head>

    <title>Home | {{ user_id }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/style2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/sidenav.css' %}">
    <link rel="icon" type="image/ico" href="{% static 'todo/favicon.ico' %}">

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js" type="text/javascript"> </script>


  </head>

  {% block content %}
  <body style="background-image: url( {{ background_url }} )">



  <div id="app">
  <div class="wrapper">
        <!-- Sidebar  -->

        <my-sidebar></my-sidebar>

        <!-- Page Content  -->
        <div id="content">
            <main role="main" class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul v-if="!user" class="focus-box blue" @click="toggle_sidebar()">
                            <li><p>Loading username ...</p></li>
                            <li><p>Loading email...</p></li>
                            <li><p>Loading time ...</p></li>
                        </ul>

                        <ul v-else class="focus-box blue" @click="toggle_sidebar()">
                            <li><p>[[ user.username ]]</p></li>
                            <li><p>[[ user.email ]]</p></li>
                            <li><p>[[ time ]]</p></li>
                        </ul>

                        <div class="list-view-box shadowed green" v-if="!user">
                            <p>Loading Menu...</p>
                        </div>

                        <div v-else class="list-view-box shadowed green" >
                            <a href="#">Create Project</a>
                            <a href="#">Create List</a>
                            <a href="#">Create Task</a>
                            <a class="tooltip" :href="[[ background_url ]]"><span class="tooltiptext tooltip-right">NASA's picture of the Day</span>Background</a>
                        </div>

                        <div v-if="!user">
                            <div class="list-view-box shadowed black" >
                                <p>Loading Item 1 ...</p>
                            </div>
                            <div class="list-view-box shadowed black" >
                                <p>Loading Item 2 ...</p>
                            </div>
                            <div class="list-view-box shadowed black" >
                                <p>Loading Item 3 ...</p>
                            </div>
                        </div>

                        <div v-else>
                            <todo-object
                                    v-for="proj in user.Projects"
                                    :key="proj.id"
                                    :proj="proj"
                                    :title="proj.title"
                                    :description="proj.description"
                                    :created="proj.created"
                                    :content="proj.content"
                                    :contributors="proj.contributors"
                                    :collapsed="proj.collapsed"
                            >
                            </todo-object>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
  </div>

  {% if user_id %}
    <script>var user_id = {{ user_id|safe }}; console.log(user_id);</script>
  {% endif %}
  {% if proj_id %}
    <script>var proj_id = {{ proj_id|safe }}; console.log(proj_id);</script>
  {% endif %}
  {% if list_id %}
    <script>var list_id = {{ list_id|safe }}; console.log(list_id);</script>
  {% endif %}
  {% if task_id %}
    <script>var task_id = {{ task_id|safe }}; console.log(task_id);</script>
  {% endif %}
  <script src="{% static  'todo/script.js' %}" type="text/javascript"> </script>

  <!--  <script>console.log(user_id+ proj_id+ list_id+ task_id)</script>-->

  </body>


  {% endblock %}

</html>
